<!DOCTYPE html>
<html lang="en" >

<head><base href="../../../">
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="View project page example"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>

    <link href="assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico"/>

</head>
<body  id="kt_body"  class="header-fixed header-mobile-fixed subheader-enabled page-loading"  >
<div id="kt_header_mobile" class="header-mobile bg-primary  header-mobile-fixed " >
    <a href="index.htxml">
        <img alt="Logo" src="assets/media/logos/logo-letter-9.png" class="max-h-30px"/>
    </a>
</div>
<!--end::Header Mobile-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header" class="header flex-column  header-fixed " >
                <!--begin::Top-->
                <div class="header-top">
                    <!--begin::Container-->
                    <div class=" container ">
                        <!--begin::Left-->
                        <div class="d-none d-lg-flex align-items-center mr-3">
                            <!--begin::Logo-->
                            <a href="index.html" class="mr-20">
                                <img alt="Logo" src="assets/media/logos/logo-letter-9.png" class="max-h-35px"/>
                            </a>
                            <!--end::Logo-->

                            <!--begin::Desktop Search-->
                            <div class="quick-search quick-search-inline ml-4 w-300px" id="kt_quick_search_inline">
                                <!--begin::Form-->
                                <form method="get" class="quick-search-form">
                                    <div class="input-group rounded bg-light">
                                        <div class="input-group-prepend">
								<span class="input-group-text">
									<span class="svg-icon svg-icon-lg"><!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/>
    </g></svg>
                                    </span>
                                </span>
                                        </div>
                                        <input type="text" class="form-control h-45px" placeholder="У нас найдется все! Мы копаем глубже..."/>
                                        <div class="input-group-append">
								<span class="input-group-text">
									<i class="quick-search-close ki ki-close icon-sm"></i>
								</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="topbar">
                            <div class="topbar-item">
                                <div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                                    <div class="d-flex flex-column text-right pr-3">
                                        <span class="text-white opacity-50 font-weight-bold font-size-sm d-none d-md-inline">{{ app.user.lastname }} {{ app.user.firstname }}</span>
                                        <span class="text-white font-weight-bolder font-size-sm d-none d-md-inline">{{ app.user.email }}</span>
                                    </div>
                                    <span class="symbol symbol-35">
									<span class="symbol-label font-size-h5 font-weight-bold text-white bg-white-o-30"></span>
								</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="subheader py-2 py-lg-4  subheader-transparent " id="kt_subheader">
                    <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5"></h5>
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                        </div>
                        {% block button_actions %}
                        <div class="d-flex align-items-center">
                            <a href="custom/apps/projects/add-project.html" class="btn btn-light-primary font-weight-bold ml-2">Редактировать компанию</a>
                        </div>
                        {% endblock %}
                    </div>
                </div>

                <div class="d-flex flex-column">
                    <div class=" container">
                        {% block company_info %}
                        {% endblock %}
                        <div class="row">
                            <div class="col-lg-8">
                                <!--begin::Advance Table Widget 3-->
                                <div class="card card-custom card-stretch gutter-b">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 py-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label font-weight-bolder text-dark">Вакансии</span>
                                            <span class="text-muted mt-3 font-weight-bold font-size-sm">Выберите нужные вакансию</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            <a href="#" class="btn btn-success font-weight-bolder font-size-sm"><span class="svg-icon svg-icon-md svg-icon-white"><!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"/>
        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
    </g>
</svg></span>Добавить вакансию</a>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 pb-3">
                                        <div class="table-responsive">
                                            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                                                <thead>
                                                <tr class="text-uppercase">
                                                    <th style="min-width: 250px" class="pl-7"><span class="text-dark-75">Вакансия</span></th>
                                                    <th style="min-width: 100px">Зарплата</th>
                                                    <th style="min-width: 150px">Менеджер</th>
                                                    <th style="min-width: 130px">Статус</th>
                                                    <th style="min-width: 120px"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="pl-0 py-8">
                                                        <div class="d-flex align-items-center">
                                                            <div class="symbol symbol-50 flex-shrink-0 mr-4">
                                                                <div class="symbol-label" style="background-image: url('assets/media/stock-600x400/img-26.jpg')"></div>
                                                            </div>

                                                            <div>
                                                                <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Web Developer</a>
                                                                <span class="text-muted font-weight-bold d-block">HTML, JS, ReactJS</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                20 000
                            </span>
                                                        <span class="text-muted font-weight-bold">
                                на руки
                            </span>
                                                    </td>
                                                    <td>
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                Каплин Кирилл
                            </span>
                                                        <span class="text-muted font-weight-bold">
                                kkaplin64@gmail.com
                            </span>
                                                    </td>
                                                    <td>
                                                        <span class="label label-lg label-light-primary label-inline">Опубликовано</span>
                                                    </td>
                                                    <td class="text-right pr-0">
                                                        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm"><span class="svg-icon svg-icon-md svg-icon-primary"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"/>
        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11" y="5" width="2" height="14" rx="1"/>
        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "/>
    </g></svg></span></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card card-custom card-stretch gutter-b">
                                    <div class="card-header h-auto border-0">
                                        <div class="card-title py-5">
                                            <h3 class="card-label">
                                                <span class="d-block text-dark font-weight-bolder">Отклики</span>
                                                <span class="d-block text-muted mt-2 font-size-sm">Аналитика откликов по Вашим вакансиям</span>
                                            </h3>
                                        </div>
                                        <div class="card-toolbar">
                                            <ul class="nav nav-pills nav-pills-sm nav-dark-75" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link py-2 px-4" data-toggle="tab" href="#kt_charts_widget_2_chart_tab_1"   >
                                                        <span class="nav-text font-size-sm">Месяц</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link py-2 px-4" data-toggle="tab" href="#kt_charts_widget_2_chart_tab_2"   >
                                                        <span class="nav-text font-size-sm">Неделя</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link py-2 px-4 active" data-toggle="tab" href="#kt_charts_widget_2_chart_tab_3"   >
                                                        <span class="nav-text font-size-sm">День</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="kt_charts_widget_3_chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <!--begin::List Widget 14-->
                                <div class="card card-custom card-stretch gutter-b">
                                    <!--begin::Header-->
                                    <div class="card-header border-0">
                                        <h3 class="card-title font-weight-bolder text-dark">Лучшие студенты доступные для найма</h3>
                                        <div class="card-toolbar">
                                            <div class="dropdown dropdown-inline">
                                                <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ki ki-bold-more-ver"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                                    <!--begin::Navigation-->
                                                    <ul class="navi navi-hover">
                                                        <li class="navi-header font-weight-bold py-4">
                                                            <span class="font-size-lg">Выберите вакансию:</span>
                                                        </li>
                                                        <li class="navi-separator mb-3 opacity-70"></li>
                                                        <li class="navi-item">
                                                            <a href="#" class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-success">Web Developer</span>
            </span>
                                                            </a>
                                                        </li>
                                                        <!-- <li class="navi-item">
                                                             <a href="#" class="navi-link">
                                                                 <span class="navi-text">
                                                                     <span class="label label-xl label-inline label-light-danger">Partner</span>
                                                                 </span>
                                                             </a>
                                                         </li>
                                                         <li class="navi-item">
                                                             <a href="#" class="navi-link">
                                                                 <span class="navi-text">
                                                                     <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                                                 </span>
                                                             </a>
                                                         </li>
                                                         <li class="navi-item">
                                                             <a href="#" class="navi-link">
                                                                 <span class="navi-text">
                                                                     <span class="label label-xl label-inline label-light-primary">Member</span>
                                                                 </span>
                                                             </a>
                                                         </li>
                                                         <li class="navi-item">
                                                             <a href="#" class="navi-link">
                                                                 <span class="navi-text">
                                                                     <span class="label label-xl label-inline label-light-dark">Staff</span>
                                                                 </span>
                                                             </a>
                                                         </li>-->
                                                        <li class="navi-separator mt-3 opacity-70"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2">
                                        <div class="d-flex flex-wrap align-items-center mb-10">
                                            <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                                                <div class="symbol-label" style="background-image: url('assets/media/stock-600x400/img-17.jpg')"></div>
                                            </div>
                                            <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
                                                <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                                                    Каплин Кирилл
                                                </a>
                                                <span class="text-muted font-weight-bold font-size-sm my-1">
                   3 курс, 2 семестр
                </span>
                                            </div>
                                            <div class="d-flex align-items-center py-lg-0 py-2">
                                                <div class="d-flex flex-column text-right">
                    <span class="text-dark-75 font-weight-bolder font-size-h4">
                        87%
                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>
    var KTAppSettings = {
        "breakpoints": {
            "sm": 576,
            "md": 768,
            "lg": 992,
            "xl": 1200,
            "xxl": 1200
        },
        "colors": {
            "theme": {
                "base": {
                    "white": "#ffffff",
                    "primary": "#0BB783",
                    "secondary": "#E5EAEE",
                    "success": "#1BC5BD",
                    "info": "#8950FC",
                    "warning": "#FFA800",
                    "danger": "#F64E60",
                    "light": "#F3F6F9",
                    "dark": "#212121"
                },
                "light": {
                    "white": "#ffffff",
                    "primary": "#D7F9EF",
                    "secondary": "#ECF0F3",
                    "success": "#C9F7F5",
                    "info": "#EEE5FF",
                    "warning": "#FFF4DE",
                    "danger": "#FFE2E5",
                    "light": "#F3F6F9",
                    "dark": "#D6D6E0"
                },
                "inverse": {
                    "white": "#ffffff",
                    "primary": "#ffffff",
                    "secondary": "#212121",
                    "success": "#ffffff",
                    "info": "#ffffff",
                    "warning": "#ffffff",
                    "danger": "#ffffff",
                    "light": "#464E5F",
                    "dark": "#ffffff"
                }
            },
            "gray": {
                "gray-100": "#F3F6F9",
                "gray-200": "#ECF0F3",
                "gray-300": "#E5EAEE",
                "gray-400": "#D6D6E0",
                "gray-500": "#B5B5C3",
                "gray-600": "#80808F",
                "gray-700": "#464E5F",
                "gray-800": "#1B283F",
                "gray-900": "#212121"
            }
        },
        "font-family": "Poppins"
    };
</script>
<script src="assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
<script src="assets/js/scripts.bundle.js?v=7.0.6"></script>
<script src="assets/js/pages/widgets.js?v=7.0.6"></script>
</body>
</html>
